/* app/assets/css/main.css */
@import "tailwindcss" theme(static);
@import "@nuxt/ui";

@font-face {
  font-family: 'regular';
  src: url('/fonts/Ubuntu-Regular.woff2') format('woff2'), url('/fonts/Ubuntu-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'bold';
  src: url('/fonts/Ubuntu-Bold.woff2') format('woff2'), url('/fonts/Ubuntu-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'light';
  src: url('/fonts/Ubuntu-Light.woff2') format('woff2'), url('/fonts/Ubuntu-Light.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@theme static {
  --font-regular: 'regular', sans-serif;
  --font-bold: 'bold', sans-serif;
  --font-light: 'light', sans-serif;

  --breakpoint-xs: 420px;

  /* 1. СТАТИЧЕСКИЕ ЦВЕТА (для верстки дефолтных страниц) */
  --color-primary: #002b58;
  --color-secondary: #fe0000;
  --color-accent: #fe0000;
  --color-coast: #399A30;

  /* 2. ДИНАМИЧЕСКИЕ ОТТЕНКИ COAST */
  --color-coast-50: #f0fdf4;
  --color-coast-100: #dcfce7;
  --color-coast-200: #bbf7d0;
  --color-coast-300: #86efac;
  --color-coast-400: #4ade80;
  --color-coast-500: #399A30;
  --color-coast-600: #16a34a;
  --color-coast-700: #15803d;
  --color-coast-800: #166534;
  --color-coast-900: #14532d;
  --color-coast-950: #052e16;

}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  .input_trailing {
    @apply text-sm text-muted font-mono;
  }
}

@utility section {
  @apply relative w-full xs:max-w-2xl md:max-w-4xl lg:max-w-5xl xl:max-w-6xl mx-auto px-4 xs:px-6 lg:px-0;
}
@utility main_title {
  @apply text-xl xs:text-2xl sm:text-3xl md:text-4xl lg:text-5xl font-bold uppercase;
}
@utility link_social {
  @apply scale-100 hover:scale-120 transition-all duration-200 leading-0;
}
@utility coast_to_coast {
  @apply bg-coast hover:bg-green-700 px-4 py-1 rounded-full text-white;
}

.dashboard, .auth {
  --color-primary: var(--ui-primary) !important;
}